body {
	margin: 0;
}

*, *::after, *::before {
	box-sizing: border-box;
}

.container {
	width: 900px;
	margin: 90px;
	border: 1px solid black;
	border-radius: 15px;
	display: inline-flex;
	background-color: snow; 
	box-shadow: 20px 20px;
}

.image {
	width: 500px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	

}

.clear-image {
	clear:both;
}

.card {
	width: 1300px;
}
.cardcontent {
	float: right;
	width: 820px;
	text-align: justify;
	margin-right: 20px;
	font-size: 20px;
}

.clear-cardcontent {
	clear: both;
}

.details {
	margin-top: 40px;
}