body {
	margin: 0 auto;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
}

*,*::before,*::after {
	box-sizing: border-box;
}

.card {
	border: 1px solid black;
	width: 500px;
	position: relative;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
}	

img {
	width: 500px;
	height: 500px;
	display: block;
}

.display {
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	width: 500px;
	height: 500px;
	background-color: gray;
	opacity: 0;
}

.card:hover .display{
  opacity: 0.7;
}