body {
	margin: 0;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	/*background-color: snow;*/
}

.modal-background {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.modal-content {
	position: relative;
	width: 400px;
	z-index: 20;
	padding: 20px;
	font-size: 18px;
	background: white;
	border-radius: 10px;
}


.modal-close {
	position: fixed;
	top: 10px;
	right: 10px;
	color: white;

}
.enter {
	width: 80px;
	font-size: 14px;
	padding: 5px;
	color: white;
	background-color: gray;
	border: 0;
}

.main {
	padding: 20px;
}