.myform {
	width: 20%;
	overflow: hidden;
	margin-left: 10px;
	padding-left: 20px;
	box-shadow: 1px 1px 1px 0px silver;
	border-radius: 5px;
}

input {
	background-color: #dcdcdc;
	padding: 15px;
	width: 81.5%;
	margin-bottom: 20px;
	border: 0px;
}

.login {
	font-family: 'Roboto', sans-serif;

}

.password {
	font-family: 'Roboto', sans-serif;
	margin-top: 1px;
}

.button {
 width: 93.5%;
 margin-bottom: 20px;
 padding: 20px;
 background-color: #66ff33;
 color: white;
 border: 0px;
}

.email {
	font-family: 'Roboto', sans-serif;

}