body{
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: snow;
}

*,*::before,*::after {
	box-sizing: border-box;
}
.spinner {
	width:	80px;
	height: 80px;
	border: 2px solid #4444;
	border-top: 3px solid snow;
	border-radius: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto; 
	animation: spin 1s infinite linear;
}

@keyframes spin {
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}


.page {
	position: absolute;
	top: 200px;
	bottom: 0;
	left: 550px;
	right: 0;

	width: 200px;
	height: 200px;
}