.card {
	width: 20%;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 1px 2px 16px 0px #cecece;
	margin-bottom: 2em; 
}

.card-image {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.card-content {
	padding: 20px;
	font-size: 16px;
	font-family: 'Lora', serif;
}
#mycard{
	width: 300px;
}

.black{
	color: white;
}

.button {
	font-size: 15px;
	text-align: center;
	display: block;
	background-color: #4CAF50;
	color: white;
	width: 100%;
	padding: 6px;
	border-radius: 15px;
	transition-duration: 0.4s;
	cursor: pointer;
	border: 0px;

}

.button:hover {
    background-color: darkgreen;
    color: white;
}

.info {
	font-size: 20px;
	margin-top: 0px;
}

