body {
	margin: 0;
	background-color: maroon ;

}
.nav-heading{
	width: 100%;

}
.container {
	width: 83%;
	margin: 0 auto;	
	background-color: snow;


}	

.blog {
	padding: 5px;
	height: 2400px;
	margin-top: 20px;

}

*::after,*::before {
	box-sizing: border-box;
}

nav {
	background-color: linen;
	width: 83%;
	overflow: hidden;
	margin: 0 auto;
	
}

.heading {
	float: left;
	padding-left: 30px;
	font-size: 25px;
	font-family: 'Baloo Tammudu', cursive;

}


h1 {
	font-size: 25px;
	text-align: left;
	font-family: 'Roboto', sans-serif;

	
}

.name-title{
	float: left;
	margin: 0;
}

ul {
	float: right;
}


h3.advert, h3.post {
	font-size: 30px;
	text-align: center;
	margin-right: -5px;
	margin-left: -5px;
	padding-left: 10px;
	
	
}

li.product{
	font-size: 22px;
	font-family: 'Roboto', sans-serif;

	
}
.babycontent{
	
	width: 600px;
	float: right;
	clear: right;
	text-align: justify;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 20px;
	padding-bottom: 5px;
	font-size: 20px;
	
}

img.baby {
	width: 330px;
	float: left;
	padding-right: 20px;
	padding-bottom: 15px;
	margin-right: 10px;

}

.recentpost {
	width: 450px;
	background-color: ;
	margin-right: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	margin-top: 70px;
	

}

h3.post{
	padding-top: 10px;
}

nav::after {
	clear: both;
}

.home-menu,.about-menu,.contact-menu {
	padding-left: 30px;
	font-size: 20px;
}

.navigation-menu {
	display: inline-flex;
	list-style-type: none;
	padding: 20px;
}

a:link {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: 'Baloo Tammudu', cursive;

}
.footer {
	background-color: linen;
	margin-top: 0px;
	margin-left: 115px;
	width: 83%;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	float: center;
	padding-top: 5px;
	
}

.clear-footer{
	clear: both;
}